

  <h2>See what we have for you:</h2>
  <div class="products">
    <% @products.each do |product| %>
      <% if product.available %>
        <div class='product-card' style="background-image:url(<%=cl_image_path product.photos.first.key %>);">
         <%# <%= cl_image_tag product.photos.first.key %>
          <div class="content">
            <h4><%= link_to product.name , product_path(product), class: 'stretched-link' %></h4>
            <p><%= product.description %></p>
            <div class="product-price">
              <span> R$<%= product.price %> </span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Add a product", new_product_path, class: "btn btn-danger"%>
