<h2> what product will you add? </h2>
<%= simple_form_for [ @product ] do |f| %>
  <%= f.input :name%>
  <%= f.input :price%>
  <%= f.input :size%>
  <%= f.input :description%>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
  <%end%>
