<div class='product-container'>


  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @product.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <%= cl_image_tag photo.key, height: 600, :class => "d-block w-100"%>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class='product-description'>
    <h3><%= @product.name %></h3>
    <p><%= @product.price %></p>
    <p><%= @product.description%></p>

    <%if current_user == @product.user%>
      <%= link_to "edit your product", edit_product_path(@product), class: "btn btn-danger"%>
    <%else%>
      <%= link_to "Quero esta roupa!", deal_path(@product), :method => :post , class: "purple-button" %>
    <% end %>
  </div>

  <%= link_to "go back", products_path, class:"purple-button"%>
</div>
